* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/images/pattern-background.jpg');
  background-repeat: no-repeat;
  // display: block;
  background-size: cover;
  // background-position: center;
}

mat-card {
  width: 500px;
  margin: 1em auto;
  height: Auto;  
  text-align: center;
  mat-card-header{
    display: block;
    margin-top: 10px;
  }
}


